@font-face {
  font-family: "OpenSans";
  src: url(../fonts/opensans.woff),
       url(../fonts/opensans.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Bold"; /* Имя шрифта */
  src: url(../fonts/opensansbold.woff),
       url(../fonts/opensansbold.woff2); /* Путь к файлу со шрифтом */
font-weight: bold;
font-style: normal;
  }
