a {
  text-decoration: none;
}

h1, h2, h3{
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.page-nav--open {
	display: none;
}

