@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "global.scss";

@import "blocks/container.scss";
@import "blocks/page-header.scss";
@import "blocks/page-nav.scss";
@import "blocks/main-header.scss";
@import "blocks/categories-nav.scss";
@import "blocks/product-week.scss";
@import "blocks/about-us.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/total-header.scss";
@import "blocks/catalog-items.scss";
@import "blocks/product.scss";
@import "blocks/production.scss";
@import "blocks/production-process.scss";
@import "blocks/knitting-order.scss";
@import "blocks/knitting-order-list.scss";
@import "blocks/popup.scss";
@import "blocks/btn.scss";
