$container-size: 320px;

$color-black: #000000;
$color-white: #fff;
$color-gray: #ececec;
$color-light-text: #444444;
$color-light-green: #63d1bb;
$color-dark-green: #56c3b2;
$color-bg-gray: #f1f1f1;

$font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
