.about-us {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 22px;

  &__title {
    margin-bottom: 31px;
    font-family: "OpenSans bold";
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: $color-black;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "OpenSans bold";
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: $color-black;
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-height: 125px;
    &:nth-child(1) {
      margin-bottom: 0px;
      img {
        margin-left: 9px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 1px;
      img {
        margin-bottom: 8px;
      }
    }

    &:nth-child(3) {
      margin-bottom: -4px;
      img {
        margin-bottom: 4px;
        padding-left: 7px;
      }
    }

    &:nth-child(4) {
      img {
        margin-bottom: 0px;
        padding-left: 3px;
      }
    }

    &:nth-child(5) {
      margin-bottom: -5px;
      img {
        margin-bottom: 9px;
        margin-left: -6px;
      }
    }

    &:nth-child(6) {
      img {
        margin-bottom: 3px;
        margin-left: 3px;
      }
    }
  }

  &__img {
    margin-bottom: 14px;
  }
}
