.btn {
  padding: 14px 83px;
  font-family: "OpenSans bold";
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $color-light-text;
  background: $color-white;
  text-transform: uppercase;
  border: 2px solid $color-light-text;
}
