.btn {
  padding: 14px;
  font-family: $OpenSans;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $color-light-text;
  background: $color-white;
  text-transform: uppercase;
  border: 2px solid $color-light-text;
  cursor: pointer;
  &:hover {
    background: #444444;
    color: #fff;
  }
  &:active {
    color: rgba(#fff, 0.3);
  }
}
