.catalog-items {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {

  .catalog-items {
    padding-top: 83px;
    padding-left: 49px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1150px) {

  .catalog-items {
    display: flex;
    margin-bottom: 5px;
    padding-top: 131px;

  }
}
