.catalog-items {
  padding-top: 30px;
}

@media screen and (min-width: 768px) {

  .catalog-items {
    margin-bottom: 3px;
    padding-top: 83px;
  }
}

@media screen and (min-width: 1150px) {

  .catalog-items {
    margin-bottom: 5px;
    padding-top: 131px;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
