.categories-nav__container {
  margin: 0 auto;
}

.categories-nav__item--interior {
  background: $color-light-green;
}

.categories-nav__item--toys {
  background: $color-dark-green;
}

.categories-nav__link {
  display: block;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;
  box-sizing: border-box;
  transition: 0.2s;
  span {
    display: block;
    width: 130px;
  }
}

.categories-nav__link--interior {
  position: relative;
  padding-right: 100px;
  background-color: $color-light-green;
  &:after {
    content: "";
    position: absolute;
    top: 24px;
    right: 16px;
    width: 60px;
    height: 60px;
    background: url(../img/icon-interior.svg) no-repeat 0 0;
    opacity: 0.5;
  }
}

.categories-nav__link--toys {
  position: relative;
  padding-right: 130px;
  background-color: $color-dark-green;
  &:after {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;
    width: 60px;
    height: 60px;
    background: url(../img/icon-toy.svg) no-repeat 0 0;
    opacity: 0.5;
  }
}

@media screen and (min-width: 768px) {

  .categories-nav {
    position: relative;
    margin-top: -115px;
    margin-bottom: 2px;
    &:after {
      z-index: 10;
      position: absolute;
      content: "";
      left: 0;
      bottom: -13px;
      width: 100%;
      height: 23px;
      background-image: url(../img/bg-zigzag-fill.svg);
      background-size: auto 23px;
    }
  }

  .categories-nav__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .categories-nav__items {
    display: flex;
  }

  .categories-nav__item {
    width: 50%;
    padding: 0;
    background: transparent;
  }

  .categories-nav__link {
    padding-top: 29px;
    padding-bottom: 28px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
    &:hover {
      transform: translatey(-5px);
    }
    &:active {
      color: rgba(#fff, 0.3);
      &:after {
        opacity: 0.3;
      }
    }
  }

  .categories-nav__link--interior {
    &:after {
      top: 30px;
      right: 16px;
    }
  }

  .categories-nav__link--toys {
    padding-top: 28px;
    padding-left: 36px;
    &:after {
      top: 31px;
      right: 35px;
    }
  }

}

@media screen and (min-width: 1150px) {

  .categories-nav {
    margin-top: -115px;
    &:after {
      bottom: -9px;
      left: 0;
      background-size: auto;
    }
  }

  .categories-nav__container {
    width: 1050px;
  }

  .categories-nav__item {
    width: 50%;
  }

  .categories-nav__link {
    padding-bottom: 26px;
    padding-right: 350px;
    padding-left: 38px;
  }

  .categories-nav__link--interior {
    &:after {
      left: 450px;
    }
  }

  .categories-nav__link--toys {
    &:after {
      left: 430px;
    }
  }

}
