.container {
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (min-width: 768px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1150px) {

  .container {
    max-width: 1200px;
  }
}
