.contacts {
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;

  &__title {
    margin-bottom: 27px;
    font-family: "OpenSans bold", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }

  &__items {
    font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: $color-light-text;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
  }

  &__address {
    margin-left: 30px;
  }

  &__map {
    margin-bottom: 35px;
    padding-top: 7px;
    margin-left: -30px;
  }

  &__btn {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .contacts {
    padding-top: 65px;
    padding-bottom: 58px;

    &__title {
      margin-bottom: 48px;
      font-size: 43px;
      line-height: 50px;
    }

    &__items {
      display: flex;
      margin-bottom: 19px;
      font-size: 17px;
      line-height: 30px;
    }

    &__item {
      width: 50%;
      box-sizing: border-box;
    }

    &__map {
      margin-bottom: 51px;
      width: 768px;
    }

    &__btn {
      margin-left: 220px;
      width: 230px;
    }
  }
}

@media screen and (min-width: 1150px) {

  .contacts {
    position: relative;
    padding-bottom: 105px;
    padding-left: 0;
    padding-right: 0;

    &__container {
      padding-left: 225px;
    }

    &__title {
      margin-top: 79px;
      margin-bottom: 48px;
      margin-left: 175px;
      font-size: 53px;
      line-height: 57px;
    }

    &__items {
      display: flex;
      flex-direction: column;
      margin-left: 175px;
      font-size: 17px;
      line-height: 30px;
    }

    &__map {
      margin-top: -382px;
      margin-bottom: -55px;
      margin-left: 525px;
    }

    &__btn {
      margin-left: 176px;
      width: 230px;
    }
  }
}
