.contacts {
  position: relative;
  padding-top: 45px;
  padding-bottom: 40px;
  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    height: 23px;
    width: 100%;
    background: url(../img/bg-zigzag-line.svg) repeat-x;
    background-size: contain;
  }
}

.contacts__title {
  margin-bottom: 27px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__items {
  margin-bottom: 37px;
  font-family: $font-family;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $color-light-text;
}

.contacts__item {
  display: flex;
  margin-bottom: 28px;
}

.contacts__address {
  margin-left: 30px;
}

.contacts__address--border {
  border-bottom: 1px solid $color-light-green;
  color: $color-light-text;
  &:hover {
    color: $color-light-green;
    border-color: $color-dark-green;
  }
  &:active {
    color: rgba($color-light-green, 0.3);
    border-color: rgba($color-dark-green, 0.3);
  }
}

.contacts__map {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  height: 457px;
  background: #ffffff url(../img/map-mobile@1x.jpg) no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66px;
    height: 101px;
    background: url(../img/icon-map-pin.svg);
  }
}

.contacts__map-container {
  padding: 0;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  background: #ffffff url(../img/map-mobile@2x.jpg) no-repeat;
}

.contacts__btn {
  width: 100%;
}


@media screen and (min-width: 768px) {

  .contacts {
    padding-top: 25px;
    padding-bottom: 58px;
    &:before {
      top: -54px;
    }
  }

  .contacts__title {
    position: relative;
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
    &:after {
      content: "";
      position: absolute;
      top: -15px;
      right: 3px;
      width: 46.7px;
      height: 81.7px;
      background: url(../img/icon-flag.svg);
    }
  }

  .contacts__items {
    display: flex;
    margin-bottom: 29px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__item {
    align-items: flex-start;
    width: 50%;
    box-sizing: border-box;
  }

  .contacts__map {
    margin-bottom: 55px;
    width: 100%;
    background: #ffffff url(../img/map-tablet@1x.jpg) center/cover no-repeat;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #ffffff url(../img/map-tablet@2x.jpg) no-repeat;
  }

  .contacts__btn {
    display: block;
    margin: 0 auto;
    width: 230px;
  }

}

@media screen and (min-width: 1150px) {

  .contacts {
    position: relative;
    padding-bottom: 105px;
    padding-left: 0;
    padding-right: 0;
    &:before {
      top: -23px;
    }
  }

  .contacts__container {
    padding-left: 225px;
  }

  .contacts__title {
    margin-top: 119px;
    margin-bottom: 48px;
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
    &:after {
      right: 3px;
      left: -113px;
    }
  }

  .contacts__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
    margin-left: 175px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__map {
    position: absolute;
    top: 73px;
    right: 0;
    width: 50%;
    background: #ffffff url(../img/map-desktop@1x.jpg) no-repeat;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #ffffff url(../img/map-desktop@2x.jpg) no-repeat;
  }

  .contacts__btn {
    margin-left: 176px;
    width: 230px;
  }

}
