.container {
/*  width: 260px;*/
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (min-width: 768px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
    /*width: 668px;*/
  }
}

@media screen and (min-width: 1150px) {

  .container {
    /*width: 1050px;*/
  }
}
