.container {
  width: $container-size;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {

  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1150px) {

  .container {
    width: 1150px;
  }
}
