.knitting-order-list {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.knitting-order-list__input[type=checkbox],
.knitting-order-list__input[type=radio] {
  display: none;
}

.knitting-order-list__item {
  position: relative;
  display: inline-flex;
  width: 100%;
  vertical-align: middle;
}

.knitting-order-list__label {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 64px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.knitting-order-list__label--type {
  position: relative;
  cursor: pointer;
  span {
    &:after {
      position: absolute;
      content: "";
      display: none;
      width: 16px;
      height: 16px;
      left: 13px;
      top: 13px;
      background-color: $color-light-green;
      border-radius: 50%;
    }
  }
  &:before {
    position: absolute;
    content: "";
    width: 37px;
    height: 37px;
    left: 0;
    top: 0;
    border: 2px solid $color-light-text;
    border-radius: 50%;
  }
  &:hover {
    &:before {
      border-color: $color-light-green;
    }
  }
  &:active {
    &:before {
      border-color: #cdcdcd;
    }
  }
}

.knitting-order-list__label--color {
  position: relative;
  cursor: pointer;
  span {
    &:after {
      position: absolute;
      content: "";
      top: 10px;
      left: 10px;
      display: none;
      width: 37px;
      height: 37px;
      background-color: transparent;
      background: url(../img/icon-tick.svg) no-repeat;
      background-size: calc(70%);
    }
  }
  &:before {
    position: absolute;
    content: "";
    width: 37px;
    height: 37px;
    left: 0;
    top: 0;
    border: 2px solid $color-light-text;
  }
  &:hover {
    &:before {
      border-color: $color-light-green;
    }
  }
  &:active {
    &:before {
      border-color: #cdcdcd;
    }
  }
}

.knitting-order-list__text--phone + svg {
  position: absolute;
  right: 8px;
  bottom: 15px;
  fill: rgba(#000, 0.3);
}

.knitting-order-list__text--email + svg {
  position: absolute;
  right: 3px;
  bottom: 10px;
  fill: rgba(#000, 0.3);
}

.knitting-order-list__item--color {
  margin-bottom: 21px;
}

.knitting-order-list__label--name {
  width: 100%;
  padding-left: 0;
}

.knitting-order-list__label--name {
  span {
    display: block;
    margin-bottom: 11px;
  }
}

.knitting-order-list__text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  &:hover {
    border-color: #62d1ba;
  }
  &:focus {
    border-color: #62d1ba;
  }
}

.knitting-order-list__text--phone {
  &:hover {
    & + svg {
      fill: $color-light-green;
    }
  }
  &:focus {
    & + svg {
      fill: $color-light-green;
    }
  }
}

.knitting-order-list--email {
  width: 100%;
}

.knitting-order-list__text--email {
  &:hover {
    & + svg {
      fill: $color-light-green;
    }
  }
  &:focus {
    & + svg {
      fill: $color-light-green;
    }
  }
}

.knitting-order-list__textarea {
  display: block;
  margin-bottom: 14px;
  padding-right: 20px;
  width: 100%;
  height: 142px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #000;
  box-sizing: border-box;
  outline: none;
  &:hover {
    border-color: #62d1ba;
  }
  &:focus {
    border-color: #62d1ba;
  }
}

@media screen and (min-width: 768px) {
  .knitting-order-list {
    display: inline-flex;
    width: 73%;
    flex-wrap: wrap;
  }

  .knitting-order-list__label {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 77px;
    font-size: 19px;
    line-height: 18px;
  }
  .knitting-order-list__label--type:before {
    width: 48px;
    height: 48px;
  }
  .knitting-order-list__item {
    width: 100%;
  }
  .knitting-order-list__item--type {
    margin-bottom: 24px;
  }
  .knitting-order-list__label--type {
    span:after {
      top: 15px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }
  .knitting-order-list__label--color:before {
    width: 48px;
    height: 48px;
  }
  .knitting-order-list__label--color {
    span:after {
      top: 15px;
      left: 10px;
      background-size: auto;
    }
  }
  .knitting-order-list__item--color {
    margin-bottom: 25px;
    width: 243px;
  }
  .knitting-order-list__label--name {
    padding-left: 0;
    width: 100%;
    span {
      display: inline-block;
      padding-right: 25px;
      width: auto;
    }
  }
  .knitting-order-list__text--firstname {
    width: 80%;
  }
  .knitting-order-list__text--lastname {
    width: 69%;
  }
  .knitting-order-list__text--patronymic {
    width: 69%;
  }
  .knitting-order-list__text {
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 18px;
    font-family: $font-family;
    font-size: 19px;
    line-height: 18px;
  }
  .knitting-order-list__item--name {
    margin-bottom: 23px;
  }
  .knitting-order-list__label--name {
    padding-top: 0;
    padding-bottom: 0;
  }
  .knitting-order-list--phone {
    width: 100%;
  }

  .knitting-order-list__textarea {
    display: inline-flex;
    padding-left: 18px;
    width: 73%;
  }

}

@media screen and (min-width: 1150px) {
  .knitting-order-list {
    width: 82%;
  }
  .knitting-order-list__item--color {
    width: 262px;
  }
  .knitting-order-list__text--firstname {
    width: 86%;
  }
  .knitting-order-list__text--lastname,
  .knitting-order-list__text--patronymic {
    width: 79%;
  }

  .knitting-order-list__textarea {
    display: inline-flex;
    padding-left: 18px;
    width: 82%;
  }
}

//Активация радио и чекбоксов
#accessories:checked + span:after,
#toy:checked + span:after {
  display: block;
}

#color-white:checked + span:after,
#color-gray:checked + span:after,
#color-tiffany:checked + span:after,
#color-black:checked + span:after,
#color-pink:checked + span:after,
#color-orange:checked + span:after {
  display: block;
}
