.knitting-order {
  margin-bottom: 32px;
}

.knitting-order__desc {
  margin-top: 25px;
  min-width: 260px;
  font-size: 13px;
  line-height: 24px;
}

.knitting-order__title {
  margin-bottom: 25px;
  width: 100%;
  font-family: $font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $color-light-green;
  text-transform: uppercase;
}

.knitting-order__type {
  padding-top: 25px;
}

.knitting-order__color {
  padding-top: 29px;
}

.knitting-order__name {
  padding-top: 11px;
}

.knitting-order__title--name {
  margin-bottom: 19px;
}

.knitting-order__contacts {
  padding-top: 22px;
}

.knitting-order__title--email {
  padding-top: 30px;
}

.knitting-order__title--phone {
  margin-bottom: 20px;
}

.knitting-order__title--email {
  margin-bottom: 22px;
}

.knitting-order__extra {
  padding-top: 31px;
}

.knitting-order__text {
  display: block;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}

.knitting-order__btn {
  width: 100%;
}

@media screen and (min-width: 768px) {

  .knitting-order__desc {
    margin-top: 78px;
    font-size: 17px;
    line-height: 30px;
  }

  .knitting-order__type {
    padding-top: 55px;
    padding-bottom: 27px;
  }

  .knitting-order__title {
    display: inline-block;
    width: 25%;

    &--extra {
      vertical-align: top;
    }
  }

  .knitting-order__color {
    padding-top: 49px;
    padding-bottom: 24px;
    background: #f1f1f1;
  }

  .knitting-order__name {
    padding-top: 50px;
    padding-bottom: 26px;
  }

  .knitting-order__contacts {
    padding-top: 50px;
    padding-bottom: 46px;
    background: #f1f1f1;
  }

  .knitting-order__title--email {
    padding-top: 40px;
  }

  .knitting-order__extra {
    padding-top: 50px;
    margin-bottom: 38px;
  }

  .knitting-order__bottom {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .knitting-order__btn {
    order: -1;
    padding: 0 10px;
    width: 230px;
    height: 52px;
    margin-left: 25%;
  }

  .knitting-order__text {
    padding-top: 10px;
    font-size: 17px;
    line-height: 30px;
  }

}

@media screen and (min-width: 1150px) {

  .knitting-order__desc {
    margin-top: 125px;
    width: 700px;
  }

  .knitting-order__title {
    width: 175px;
    text-align: center;
  }

  .knitting-order__contacts {
    input {
      width: 100%;
    }
  }

  .knitting-order__btn {
    margin-left: 175px;
  }

}
