.main-header {
  padding-top: 70px;
  padding-bottom: 122px;
  text-align: center;
  background: #ffffff url(../img/hero-mobile@1x.jpg) no-repeat center 0;
  background-size: cover;
  box-sizing: border-box;
  overflow: auto;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .main-header {
    background: #ffffff url(../img/hero-mobile@2x.jpg) no-repeat center 0;
    background-size: cover;
  }
}

.main-header__title {
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
    width: 260px;
    font-family: $font-family;
    font-size: 27px;
    line-height: 30px;
}

@media screen and (min-width: 768px) {
  .main-header {
    z-index: 0;
    position: relative;
    margin-top: -86px;
    padding-top: 153px;
    min-height: 742px;
    border-top: 1px solid $color-gray;
    background: #ffffff url(../img/hero-desktop@1x.jpg) no-repeat center 0;
    background-size: cover;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .main-header {
      background: #ffffff url(../img/hero-desktop@2x.jpg) no-repeat center 0;
      background-size: cover;
    }
  }

  .main-header__title {
    padding-left: 80px;
    padding-right: 80px;
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

}

@media screen and (min-width: 1150px) {

  .main-header {
    margin-top: -83px;
    min-height: 743px;
  }

  .main-header__title {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }

}
