.page-footer {
  padding-top: 22px;
  background: $color-bg-gray;
  &__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-left: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__copyright {
    display: flex;
    justify-content: space-around;
    padding-top: 18px;
    padding-bottom: 20px;
  }
  &__text {
    align-self: center;
    margin-left: 15px;
    font-family: "OpenSans bold";
    font-weight: bold;
    font-size: 19px;
    line-height: 3px;
  }
  &__logo {
    display: none;
  }
  &__social-link {
    margin-right: 36px;
  }
  &__link {
    padding-right: 22px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 33px;
    padding-bottom: 32px;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__social {
      flex-grow: 0.5;
      margin-left: 0;
      padding-top: 23px;
      border: none;
    }
    &__social-link {
      margin-right: 36px;
    }
    &__logo {
      flex-grow: 1;
      display: block;
      align-self: center;
    }
    &__copyrigth {
      flex-grow: 1;
    }
    &__link {
      padding-right: 0;
      padding-left: 22px;
    }
  }
}

@media screen and (min-width: 1150px) {

  .page-footer {

    &__social {
      flex-grow: 3;
    }
  }
}
