.page-footer {
  padding-top: 22px;
  background: $color-bg-gray;
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  padding-top: 8px;
  padding-bottom: 20px;
  span {
    padding-top: 28px;
  }
}
.page-footer__text {
  display: flex;
  justify-content: center;
  font-family: $font-family;
  font-weight: bold;
  font-size: 19px;
  line-height: 3px;
  color: $color-black;
  svg {
    margin-top: 12px;
    margin-left: 21px;
  }
  &:hover {
    svg {
      fill: $color-dark-green;
    }
  }
  &:active {
    color: rgba(#000, 0.3);
    svg {
      opacity: 0.3;
    }
  }
  svg{
    fill: $color-light-green;
  }
}
.page-footer__logo {
  display: none;
}
.page-footer__social-link {
  margin: 0 18px;
  &:hover {
    svg {
      fill: $color-light-green;
    }
  }
  &:active {
    svg {
      fill: rgba($color-light-green, 0.3);
    }
  }
}

.page-footer__link {
  padding-right: 22px;
  padding-left: 30px;
}


@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 33px;
    padding-bottom: 32px;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__social {
      flex-grow: 0.5;
      margin-left: 0;
      padding-top: 23px;
      width: 32%;
      border: none;
    }
    &__social-link {
      margin: 0 18px;
    }
    &__logo {
      flex-grow: 1;
      display: block;
      align-self: center;
      svg {
        &:hover {
          fill: $color-light-green;
        }
        &:active {
          fill: rgba($color-dark-green, 0.3);
        }
      }
    }
    &__copyright {
      width: 31%;
      color: rgba(#000, 0.3);
      cursor: pointer;
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      span {
        align-self: baseline;
        margin-top: 1px;
        padding-right: 29px;
        display: block;
      }
      svg {
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: 1150px) {

  .page-footer__social {
    flex-grow: 0.3;
  }

}
