.page-nav {

  &__logo {
    padding-top: 22px;
    padding-bottom: 18px;
    padding-left: 90px;
  }

  &__items-desktop {
    display: none;
  }

  &__items-tablet {
    display: none;
  }

  &__link {
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 49px;
    min-height: 78px;
    font-family: "OpenSans bold", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
    border-top: 1px solid $color-gray;
    box-sizing: border-box;
  }

  /*ICON MENU*/

  &__toggle {
    position: relative;
    margin-top: 10px;
    margin-left: 60px;
    width: 20px;
    height: 14px;
    background-color: $color-white;
    border: none;
    vertical-align: top;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  &__toggle span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: $color-black;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  &__toggle span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }

  &__toggle span:nth-child(2) {
    top: 6px;
    transform-origin: left center;
  }

  &__toggle span:nth-child(3) {
    top: 12px;
    transform-origin: left center;
  }

  &__toggle.open span:nth-child(1) {
    top: -3px;
    left: 8px;
    transform: rotate(45deg);
  }

  &__toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &__toggle.open span:nth-child(3) {
    top: 39px;
    left: 8px;
    transform: rotate(-45deg);
  }

  &__items-menu1,
  &__items-menu2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  .page-nav {
    display: flex;
    flex-wrap: wrap;

    &__toggle {
      display: none;
    }

    &__logo {
      order: 0;
      padding-left: 0;
      padding-right: 226px;
    }

    &__items-menu1 {
      z-index: 1;
      order: 2;
      display: flex;
      .page-nav__link {
        margin-right: 37px;
        padding-top: 27px;
        font-size: 15px;
        line-height: 24px;
      }
    }

    &__items-menu2 {
      order: 1;
      display: flex;
      margin-left: 10px;
    }

    &__items-tablet {
      z-index: 1;
      order: 3;
      display: block;
      padding-top: 5px;
      margin-left: auto;
    }

    &__link {
      padding: 0;
      border-top: none;
    }

    &__link--search {
      margin-right: 81px;
      padding-top: 28px;
      min-width: 84px;
      font-size: 0;
      border-left: 1px solid $color-gray;
      border-right: 1px solid $color-gray;
      span {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -3px;
          left: 33px;
          width: 18px;
          height: 18px;
          background-image: url(../img/icon-search.svg);
          background-repeat: no-repeat;
        }
      }
    }

    &__link--basket {
      padding-top: 31px;
      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 3px;
          left: -50px;
          width: 21px;
          height: 19px;
          background-image: url(../img/icon-cart.svg);
        }
      }
    }

    &__link--delivery {
      padding-top: 22px;
      font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
    }
  }
}


@media screen and (min-width: 1150px) {

  .page-nav {

    &__logo {
      order: 1;
      padding: 0;
      min-width: 244px;
    }

    &__items-menu1 {
      order: 0;
      .page-nav__link {
        margin-right: 71px;
        padding-top: 32px;
        font-size: 17px;
        line-height: 24px;
      }
    }

    &__items-menu2 {
      order: 2;
    }

    &__items-tablet {
      order: 4;
    }

    &__items-desktop {
      z-index: 1;
      order: 3;
      display: flex;
      .page-nav__link {
        margin-right: 62px;
        padding-top: 28px;
        font-size: 15px;
        line-height: 24px
      }
    }
  }
}
