.popup {
  position: fixed;
  top: 50%;
  margin-top: -168px;
  z-index: 20;
  display: none;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 47px;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.25);
}

.popup__title {
  margin-bottom: 12px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.popup__text {
  display: block;
  margin-bottom: 30px;
  font-family: $font-family;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.popup__size {
  margin-bottom: 30px;
  padding: 20px 34px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $color-light-text;
  box-sizing: border-box;
  border: 2px solid $color-light-green;
}
