.product-week {
  padding-top: 25px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.product-week__titles {
  margin-bottom: 22px;
}

.product-week__title {
  margin-bottom: 8px;
  padding-left: 1px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 25px;
}

.product-week__label {
  font-family: $font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-light-green;
}

.product-week__descs {
  margin-bottom: 29px;
}

.product-week__desc {
  font-family: $font-family;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-week__properties {
  margin-top: 17px;
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.product-week__property {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 9px;
  border-bottom: 1px solid $color-gray;
}

.product-week__property-name {
  display: block;
  width: 90px;
  box-sizing: border-box;
}

.product-week__property-value {
  padding-left: 7px;
}

.product-week__img {
  margin-bottom: 24px;;
}

.product-week__price {
  display: block;
  margin: 15px 0;
  margin-bottom: 26px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-light-text;
  text-align: center;
}

.product-week__btn {
  width: 100%;
}


@media screen and (min-width: 768px) {

  .product-week {
    padding-top: 45px;
    padding-bottom: 44px;
  }

  .product-week__container {
    display: flex;
    flex-wrap: wrap;
  }

  .product-week__titles {
    display: flex;
    width: 100%;
  }

  .product-week__title {
    font-size: 43px;
    line-height: 50px;
  }

  .product-week__label {
    align-self: center;
    margin-top: 6px;
    margin-left: auto;
    margin-right: 23px;
    width: 78px;
    text-align: center;
    line-height: 17px;
  }

  .product-week__descs {
    padding-top: 24px;
    padding-right: 36px;
    width: 50%;
    box-sizing: border-box;
  }


  .product-week__img {
    padding-top: 31px;
    width: 50%;
  }

  .product-week__desc {
    font-size: 17px;
    line-height: 30px;
  }

  .product-week__properties {
    margin-top: 35px;
    height: 48%;
    overflow: auto;
  }

  .product-week__order {
    margin-top: -150px;
    width: 50%;
    text-align: center;
  }

  .product-week__price {
    margin-right: 36px;
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
  }

  .product-week__btn {
    width: 291px;
    margin-right: 13%;
  }

}

@media screen and (min-width: 1150px) {

  .product-week {
    position: relative;
    padding-top: 125px;
    padding-bottom: 95px;
  }

  .product-week__titles {
    z-index: 1;
    padding-left: 44px;
  }

  .product-week__title {
    order: 1;
    padding-left: 19px;
    font-size: 53px;
    line-height: 57px;
  }

  .product-week__label {
    order: 0;
    margin-left: 0;
    margin-right: 31px;
  }

  .product-week__descs {
    margin-bottom: 15px;
    padding-left: 175px;
    padding-right: 60px;
  }

  .product-week__properties {
    margin-top: 46px;
  }

  .product-week__img {
    z-index: 0;
    margin-top: -166px;
  }

  .product-week__order {
    margin-top: -125px;
    margin-left: 102px;
  }

  .product-week__price {
    margin-top: 0;
    margin-right: 80px;
    padding-left: 18px;
  }

}
