.product-week {
  padding-top: 25px;
  padding-bottom: 30px;
  box-sizing: border-box;

  &__titles {
    margin-bottom: 22px;
  }

  &__title {
    margin-bottom: 4px;
    padding-left: 1px;
    font-family: "OpenSans bold", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 25px;
  }

  &__label {
    font-family: "OpenSans bold", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-light-green;
  }

  &__descs {
    margin-bottom: 29px;
  }

  &__desc {
    font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }

  &__properties {
    margin-top: 17px;
    font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
  }

  &__property {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid $color-gray;
  }

  &__property-name {
    display: block;
    width: 90px;
    box-sizing: border-box;
  }

  &__property-value {
    padding-left: 7px;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__price {
    display: block;
    margin: 15px 0;
    margin-bottom: 26px;
    font-family: "OpenSans bold", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: $color-light-text;
    text-align: center;
  }

  &__btn {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .product-week {
    padding-top: 45px;
    padding-bottom: 44px;

    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__titles {
      display: flex;
      width: 100%;
    }

    &__title {
      font-size: 43px;
      line-height: 50px;
    }

    &__label {
      align-self: center;
      margin-top: 6px;
      margin-left: auto;
      margin-right: 23px;
      width: 78px;
      text-align: center;
      line-height: 17px;
    }

    &__descs {
      padding-top: 24px;
      padding-right: 36px;
      width: 50%;
      box-sizing: border-box;
    }


    &__img {
      padding-top: 31px;
      width: 50%;
    }

    &__desc {
      font-size: 17px;
      line-height: 30px;
    }

    &__properties {
      margin-top: 35px;
    }

    &__order {
      margin-top: -150px;
      width: 50%;
      text-align: center;
    }

    &__price {
      margin-right: 36px;
      margin-bottom: 34px;
      font-size: 20px;
      line-height: 24px;
    }

    &__btn {
      width: 291px;
      margin-right: 13%;
    }
  }
}

@media screen and (min-width: 1150px) {

  .product-week {
    position: relative;
    padding-top: 125px;
    padding-bottom: 95px;

    &__titles {
      z-index: 1;
      padding-left: 44px;
    }

    &__title {
      order: 1;
      padding-left: 19px;
      font-size: 53px;
      line-height: 57px;
    }

    &__label {
      order: 0;
      margin-left: 0;
      margin-right: 31px;
    }

    &__descs {
      margin-bottom: 15px;
      padding-left: 175px;
      padding-right: 60px;
    }

    &__properties {
      margin-top: 46px;
    }

    &__img {
      z-index: 0;
      margin-top: -166px;
    }

    &__order {
      margin-top: -125px;
      margin-left: 102px;
    }

    &__price {
      margin-top: 0;
      margin-right: 80px;
      padding-left: 18px;
    }
  }
}
