.product {
  margin-bottom: 30px;
  border: 1px solid #ededed;
  box-sizing: border-box;

  &__text {
    padding-top: 23px;
    padding-bottom: 19px;
    padding-left: 27px;
    padding-right: 27px;
    border-bottom: 1px solid #ededed;
  }

  &__title {
    margin-bottom: 5px;
    font-family: "OpenSans bold";
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }

  &__properties {
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
  }

  &__prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 26px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__price {
    margin-top: 1px;
    margin-left: -2px;
    font-family: "OpenSans bold";
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
  }

  &__basket {
    margin-right: -10px;
    background: $color-white;
    border: none;
  }
}

@media screen and (min-width: 768px) {

  .product {
    display: flex;
    margin-bottom: 52px;

    &__img {
      width: 334px;
    }

    &__container {
      width: 334px;
    }

    &__text {
      margin-bottom: 157px;
      padding-top: 26px;
      border-bottom: none;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__properties {
      font-size: 15px;
      line-height: 30px;
    }

    &__prices {
      padding-bottom: 1px;
      border-top: 1px solid #ededed;
    }

    &__price {
      padding-left: 4px;
      font-size: 17px;
      line-height: 24px;
    }
  }

  .product:nth-child(3) {
    .product__text {
      margin-bottom: 135px;
    }
  }
}

@media screen and (min-width: 1150px) {

  .product {
    flex-direction: column;
    margin-right: 50px;
    width: 317px;

    &__img {
      width: 317px;
      height: 462px;
    }

    &__container {
      width: 310px;
    }

    &__prices {
      padding-bottom: 25px;
      padding-left: 26px;
    }

    &__text {
      margin-bottom: 21px;
    }
  }
}

.product:nth-child(3) {
  .product__text {
    margin-bottom: -3px;
  }
}
