.product {
  position: relative;
  width: 100%;
  margin-bottom: 29px;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

.product__container {
  padding-top: 25px;
  padding-left: 27px;
  padding-right: 25px;
  border: 1px solid $color-gray;
}

.product__img {
  min-height: 195px;
  overflow: hidden;
}

.product__title {
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000;
  &:hover {
    color: rgba(#000, 0.6);
  }
  &:active {
    color: rgba(#000, 0.3);
  }
}

.product__properties {
  display: block;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
}

.product__price {
  display: block;
  padding-bottom: 28px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.product__basket {
  position: absolute;
  bottom: 25px;
  right: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  svg {
    fill: #d3d2d2;
  }
}


@media screen and (min-width: 768px) {

  .product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 52px;
  }

  .product__img {
    width: 50%;
    height: 335px;
  }

  .product__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 25px;
    width: 50%;
    flex-grow: 2;
  }

  .product__title {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 24px;
  }

  .product__properties {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 30px;
  }

  .product__price {
    margin-top: auto;
    padding: 0;
    font-size: 17px;
    line-height: 24px;
  }

  .product__basket {
    &:hover {
      svg {
        fill: $color-light-green;
      }
    }
    &:active {
      svg {
        fill: rgba($color-light-green, 0.3);
      }
    }
  }

}

@media screen and (min-width: 1150px) {

  .product {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .product__img {
    width: 100%;
    height: 462px;
  }

  .product__container {
    padding-top: 23px;
    width: 100%;
    box-sizing: border-box;
  }

  .product__properties {
    margin-bottom: 37px;
  }

}
