.reviews {
  padding-bottom: 40px;

  &__title {
    margin-bottom: 25px;
    font-family: $OpenSans;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }

  &__item {
    margin: 0;
  }

  &__text {
    margin-bottom: 25px;
    font-family: $OpenSans;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: $color-light-text;
    letter-spacing: 0.61px;
  }

  &__author {
    font-family: $OpenSans;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.8px;
  }

  &__link {
    display: block;
    margin-top: 3px;
    font-family: $OpenSans;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    line-height: 30px;
  }

  &__arrows {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 0;
  }

  &__arrow {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 52px;
    background-color: $color-white;
    border: 1px solid $color-gray;
    vertical-align: top;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }

  &__arrow--left {
    width: 50%;
    &:after {
      content: "";
      position: absolute;
      top: 12px;
      left: 30%;
      width: 51px;
      height: 26px;
      background-image: url(../img/icon-left-arrow.svg) no-repeat;
    }
  }

  &__arrow--right {
    width: 50%;
    border-left: none;
    &:after {
      content: "";
      position: absolute;
      top: 12px;
      right: 30%;
      width: 51px;
      height: 26px;
      background-image: url(../img/icon-left-arrow.svg) no-repeat;
      transform: rotate(180deg);
    }
  }

  &__btn {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .reviews {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &__container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 78px;
      padding-bottom: 90px;
      background: url(../img/review@1x.jpg) no-repeat;
    }

    &__title {
      width: 72%;
      order: -2;
      margin-bottom: 48px;
      padding-left: 0px;
      font-size: 43px;
      line-height: 50px;
    }

    &__text {
      margin-bottom: 60px;
      font-size: 17px;
      line-height: 30px;
      letter-spacing: 0px;
    }

    &__author {
      letter-spacing: 0.05px;
    }

    &__arrows {
      margin-top: -55px;
      margin-left: 71%;
    }

    &__arrow {
      margin: 0;
      width: 87px;
      border: none;
    }

    &__btn {
      align-self: flex-start;
      margin-left: auto;
      width: 175px;
      order: -1;
    }
  }
}

@media screen and (min-width: 1150px) {

  .reviews {
    margin-top: 9px;
    padding-bottom: 0;

    &__container {
      padding-top: 70px;
      padding-bottom: 146px;
      padding-left: 50px;
      background-position: 50px 0;
    }

    &__title {
      width: auto;
      margin-left: 170px;
      font-size: 53px;
      line-height: 57px;
    }

    &__item {
      margin-left: 175px;
    }

    &__text {
      margin-bottom: 40px;
      padding-right: 100px;
    }

    &__arrows {
      margin-left: 81.5%;
    }

    &__btn {
      margin-top: 7px;
      width: 175px;
    }
  }
}
