.reviews {
  padding-bottom: 40px;
}

.reviews__title {
  margin-bottom: 25px;
  font-family: $font-family;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin-bottom: 25px;
  font-family: $font-family;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $color-light-text;
  letter-spacing: 0.61px;
}

.reviews__author {
  font-family: $font-family;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.reviews__link {
  display: block;
  margin-top: 3px;
  font-family: $font-family;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
}

.reviews__arrows {
  margin-top: 30px;
  margin-bottom: 38px;
  font-size: 0;
}

.reviews__arrow {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 52px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  vertical-align: top;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.reviews__arrow--left {
  width: 50%;
  &:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 30%;
    width: 51px;
    height: 26px;
    background: url(../img/icon-left-arrow.svg) no-repeat;
  }
}

.reviews__arrow--right {
  width: 50%;
  border-left: none;
  &:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 30%;
    width: 51px;
    height: 26px;
    background: url(../img/icon-left-arrow.svg) no-repeat;
    transform: rotate(180deg);
  }
}

.reviews__btn {
  width: 100%;
}


@media screen and (min-width: 768px) {

  .reviews {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .reviews__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 78px;
    padding-bottom: 90px;
    background: url(../img/review@1x.jpg) no-repeat;
  }

  .reviews__title {
    width: 72%;
    order: -2;
    margin-bottom: 48px;
    padding-left: 0px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0px;
  }

  .reviews__author {
    letter-spacing: 0.05px;
  }

  .reviews__arrows {
    margin-top: -55px;
    margin-left: auto;
  }

  .reviews__arrow {
    margin: 0;
    width: 87px;
    border: none;
  }

  .reviews__arrow--left,
  .reviews__arrow--right {
    &:after {
      top: 11px;
      left: 21%;
    }
  }

  .reviews__btn {
    order: -1;
    align-self: flex-start;
    margin-left: auto;
    width: 175px;
  }

}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .reviews__container {
    background: #ffffff url(../img/review@2x.jpg) no-repeat;
  }
}

@media screen and (min-width: 1150px) {

  .reviews {
    margin-top: 9px;
    padding-bottom: 0;
  }

  .reviews__container {
    padding-top: 70px;
    padding-bottom: 146px;
    padding-left: 50px;
    background-position: 50px 0;
  }

  .reviews__title {
    width: auto;
    margin-left: 170px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    margin-left: 175px;
  }

  .reviews__text {
    margin-bottom: 40px;
    padding-right: 100px;
  }

  .reviews__arrows {
    margin-left: 81.5%;
  }

  .reviews__arrow--left:after,
  .reviews__arrow--right:after {
    top: 11px;
    left: 43%;
  }

  .reviews__btn {
    margin-top: 7px;
  }

}
