.total-header {
  padding-top: 70px;
  padding-bottom: 70px;
  background: $color-bg-gray;
}

.total-header__title {
  font-family: $font-family;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}


@media screen and (min-width: 768px) {

.total-header {
  position: relative;
  margin-top: -83px;
  padding-top: 96px;
  padding-bottom: 78px;
  padding-left: 10px;
  &:after {
    z-index: 10;
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 100%;
    height: 23px;
    background: url(../img/bg-zigzag-fill.svg);
    background-size: auto 23px;
  }
}

  .total-header__title {
    font-size: 43px;
    line-height: 50px;
  }

}

@media screen and (min-width: 1150px) {

  .total-header {
    position: relative;
    padding-left: 5px;
    padding-bottom: 100px;
    &:after {
      bottom: -9px;
      left: 0;
      background-size: auto;
    }
  }

  .total-header__title {
    font-size: 53px;
    line-height: 57px;
  }

}
